<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  
   <extension
         point="org.eclipse.ui.views">
      <view
            category="wizard.category4"
            class="com.dc.bip.ide.views.TreeView"
            icon="icons/smartmode_co.gif"
            id="wizard.view1"
            name="BIP业务配置开发视图"
            restorable="true">
      </view>
      <category
            id="wizard.category4"
            name="BIP开发视图">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="wizard.category1"
            class="com.dc.bip.ide.wizards.ProjectWizard"
            icon="icons/smartmode_co.gif"
            id="wizard.newbipproject"
            name="BIP工程创建向导"
            project="true">
      </wizard>
      <category
            id="wizard.category1"
            name="BIP工程向导">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dc.bip.ide.editors.basesvc.BaseSvcEditor"
            default="false"
            extensions="base1"
            id="wizard.basesvceditor1"
            name="基础服务编辑器">
      </editor>

      <editor
            class="com.dc.bip.ide.editors.composite.CompSvcEditor"
            default="false"
            extensions="composite"
            id="wizard.editor.CompSvcEditor"
            name="组合服务编辑器">
      </editor>
      <editor
            class="com.dc.bip.ide.editors.busisvc.BusiSvcContentEditor"
            default="false"
            extensions="busi"
            id="wizard.editor.busiEditor"
            name="业务服务编辑器">
      </editor>
      <editor
            class="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorPart"
            default="true"
            extensions="xsd"
            id="wizard.editor.sdaEditor"
            name="sda编辑器">
      </editor>
      <editor
            class="com.dc.bip.ide.editors.busi.SDAEditor"
            default="true"
            extensions="wsdl"
            id="wizard.editor.sdaEditor"
            name="wsdl编辑器">
      </editor>
      <editor
            class="com.dc.bip.ide.editors.BipServerEditor"
            default="false"
            extensions="bipserver"
            id="wizard.editor.BipServerEditor"
            name="Bip服务端编辑器">
      </editor>
      <editor
            class="com.dc.bip.ide.editors.PublicCodeEditor"
            default="false"
            extensions="code"
            id="wizard.editor.PublicCodeEditor"
            name="公共代码编辑器">
      </editor>
      <editor
            class="com.dc.bip.ide.editors.ContextEditor"
            default="false"
            extensions="context"
            id="wizard.editor.ContextEditor"
            name="上下文编辑器">
      </editor>
      <editor
            class="com.dc.bip.ide.gef.ui.GefEditor"
            contributorClass="com.dc.bip.ide.gef.ui.GefActionBarContributor"
            default="false"
            extensions="map"
            id="com.dc.bip.ide.gefEditor"
            name="GefEditor">
      </editor>
      <editor
            class="com.dc.bip.ide.editors.protocol.ProtocolInEditor"
            default="false"
            extensions="protolin"
            id="BipIDE.protocolInEditor"
            name="接入协议编辑器">
      </editor>
      <editor
            class="com.dc.bip.ide.editors.protocol.ProtocolOutEditor"
            default="false"
            extensions="protolout"
            id="BipIDE.ProtocolOutEditor"
            name="接出协议编辑器">
      </editor>
      <editor
            class="com.dc.bip.ide.editors.expression.ExpressionInfoEditor"
            default="false"
            extensions="express"
            id="BipIDE.ExpressionInfoEditor"
            name="表达式编辑器">
      </editor>
      <editor
            class="com.dc.bip.ide.editors.expression.ExpressionInfoEditor"
            default="false"
            id="BipIDE.ExpressionInfoEditor"
            name="表达式编辑器">
      </editor>      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.dc.bip.flow.folder"
            objectClass="com.dc.bip.ide.views.objects.FlowFolder">
         <action
               class="com.dc.bip.ide.popup.actions.FlowNewAction"
               enablesFor="1"
               icon="icons/add_correction.gif"
               id="wizard.newAction"
               label="新增"
               menubarPath="additions">
         </action>
      </objectContribution>
            <objectContribution
            id="com.dc.bip.baseService.folder"
            objectClass="com.dc.bip.ide.views.objects.BaseFolder">
         <action
               class="com.dc.bip.ide.popup.actions.NewBaseSvcAction"
               enablesFor="1"
               icon="icons/add_correction.gif"
               id="wizard.newAction"
               label="新增"
               menubarPath="additions">
         </action>
         <action
               class="com.dc.bip.ide.popup.actions.ImportBaseSvcAction"
               icon="icons/full/etool16/import_wiz.gif"
               id="BipIDE.BaseSvcImportAction2"
               label="导入"
               menubarPath="additions">
         </action>
         <action
               class="com.dc.bip.ide.popup.actions.ExportBaseSvcsAction"
               icon="icons/full/etool16/export_wiz.gif"
               id="BipIDE.exportBaseSvcAction2"
               label="导出">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.dc.bip.baseService.bsNode"
            objectClass="com.dc.bip.ide.views.objects.BSNode">
         <action
               class="com.dc.bip.ide.popup.actions.DeleteBaseSvcAction"
               icon="icons/trash.gif"
               id="wizard.deleteaction1"
               label="删除"
               menubarPath="additions">
         </action>
         <action
               class="com.dc.bip.ide.popup.actions.ExportBaseSvcAction"
               icon="icons/full/etool16/export_wiz.gif"
               id="BipIDE.exportBaseSvc"
               label="导出"
               menubarPath="additions">
         </action>
         <action
               class="com.dc.bip.ide.popup.actions.PublishServiceAction"
               id="com.dc.bip.baseService.bsNode.publish"
               label="发布">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="BipIDE.BusiFolder"
            objectClass="com.dc.bip.ide.views.objects.BusiFolder">
         <action
               class="com.dc.bip.ide.popup.actions.BusiImportAction"
               icon="icons/add_correction.gif"
               id="BipIDE.WsdlImport"
               label="WSDL导入">
         </action>
         <action
               class="com.dc.bip.ide.popup.actions.BusiServiceAddAction"
               id="BipIDE.addBusiService"
               label="新增">
         </action>
      </objectContribution>
        <objectContribution
            adaptable="false"
            id="BipIDE.objectContribution2"
            objectClass="com.dc.bip.ide.views.objects.FlowNode">
          <action
               class="com.dc.bip.ide.popup.actions.DeleteFlowAction"
               icon="icons/trash.gif"
               id="com.dc.bip.ide.popup.actions.DeleteAction"
               label="删除">
         </action>   
         <action
               class="com.dc.bip.ide.popup.actions.FlowConvertAction"
               icon="icons/checkout.gif"
               id="com.dc.bip.ide.popup.actions.FlowConvertAction"
               label="生成配置">
         </action>   
         <action
               class="com.dc.bip.ide.popup.actions.FlowNewAction"
               icon="icons/add_correction.gif"
               id="com.dc.bip.ide.popup.actions.FlowNewAction"
               label="新建">
         </action>     
      </objectContribution>      
      <objectContribution
            adaptable="false"
            id="com.dc.bip.busiSvc.busiSvcNode"
            objectClass="com.dc.bip.ide.views.objects.BSOperationNode">
         <action
               class="com.dc.bip.ide.popup.actions.PublishServiceAction"
               id="com.dc.bip.busiSvc.busiSvcNode.publish"
               label="发布">
         </action>
         <action
               class="com.dc.bip.ide.popup.actions.DeleteBusiSvcAction"
               icon="icons/trash.gif"
               id="wizard.deleteBusiAction"
               label="删除"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="wizard.CompositeFolder"
            objectClass="com.dc.bip.ide.views.objects.CompositeFolder">
         <action
               class="com.dc.bip.ide.popup.actions.NewCompSvcAction"
               enablesFor="1"
               icon="icons/add_correction.gif"
               id="wizard.newCompositeSvcAction"
               label="新增"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="wizard.objectContribution2"
            objectClass="com.dc.bip.ide.views.objects.CompositeNode">
         <action
               class="com.dc.bip.ide.popup.actions.DeleteCompSvcAction"
               icon="icons/trash.gif"
               id="wizard.compsvcdeleteaction"
               label="删除"
               menubarPath="additions">
         </action>
         <action
               class="com.dc.bip.ide.popup.actions.PublishServiceAction"
               id="com.dc.bip.busiSvc.busiSvcNode.publish"
               label="发布">
         </action>
      </objectContribution>
      <objectContribution
            id="wizard.newbipserver.contribution2"
            objectClass="com.dc.bip.ide.views.objects.BipServerFolder">
         <action
               class="com.dc.bip.ide.popup.actions.NewBipServerAction"
               enablesFor="1"
               icon="icons/add_correction.gif"
               id="wizard.newbipserverAction"
               label="新增"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="wizard.bipserverobjectContribution2"
            objectClass="com.dc.bip.ide.views.objects.BipServerNode">
         <action
               class="com.dc.bip.ide.popup.actions.DeleteBipServerAction"
               icon="icons/trash.gif"
               id="wizard.bipserverdeleteaction"
               label="删除"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="BipIDE.objectContribution1"
            objectClass="com.dc.bip.ide.views.objects.TreeNode">
         <action
               class="com.dc.bip.ide.popup.actions.RefreshViewAction"
               id="BipIDE.action2"
               label="刷新">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="BipIDE.ProtocolInFolder"
            objectClass="com.dc.bip.ide.views.objects.ProtocolInFolder">
         <action
               class="com.dc.bip.ide.popup.actions.NewProtocolInAction"
               id="BipIDE.action1"
               label="新增">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="BipIDE.ProtocolInNode"
            objectClass="com.dc.bip.ide.views.objects.ProtocolInNode">
         <action
               class="com.dc.bip.ide.popup.actions.DeleteProtocolInAction"
               id="BipIDE.DeleteProtocolInAction"
               label="删除">
         </action>
         <action
               class="com.dc.bip.ide.popup.actions.PublishServiceAction"
               id="BipIDE.ProtocolInNode.PublishServiceAction"
               label="发布">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="BipIDE.ProtocolOutFolder"
            objectClass="com.dc.bip.ide.views.objects.ProtocolOutFolder">
         <action
               class="com.dc.bip.ide.popup.actions.NewProtocolOutAction"
               id="BipIDE.NewProtocolOutAction"
               label="新增">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="BipIDE.ExpressionFolder"
            objectClass="com.dc.bip.ide.views.objects.ExpressionFolder">
         <action
               class="com.dc.bip.ide.popup.actions.NewExpressionAction"
               id="BipIDE.NewExpressionAction"
               label="新增">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="BipIDE.ExpressionNode"
            objectClass="com.dc.bip.ide.views.objects.ExpressionNode">
      </objectContribution>
   </extension>
   <extension
         id="SmartBranchIDE.brNature1"
         name="SmartBranchIDE.brNature1"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.dc.bip.ide.views.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.dc.bip.ide.perspectives.BIPPerspective"
            icon="icons/jperspective.gif"
            id="wizard.perspectives.BIPPerspective"
            name="BIP集成开发平台">
      </perspective>
   </extension>
</plugin>
